In [1]:
import requests
import pandas as pd
from pandas import DataFrame

In [2]:
#Feature 1: Connect to an external/3rd party API and read data into your app.
ds = requests.get('https://api.spacexdata.com/v3/launches')
all_launches = ds.json()

In [23]:
#make api data readable
launch_summary = []

i = 0 
for launch in all_launches:
    data =  flight_number, mission_name, rocket_name, rocket_type, launch_year, payload, orbit, land_success, launch_success= all_launches[i]['flight_number'],\
            all_launches[i]['mission_name'],\
            all_launches[i]['rocket']['rocket_name'],\
            all_launches[i]['rocket']['rocket_type'],\
            all_launches[i]['launch_year'],\
            all_launches[i]['rocket']['second_stage']['payloads'][0]['payload_type'],\
            all_launches[i]['rocket']['second_stage']['payloads'][0]['orbit'],\
            all_launches[i]['rocket']['first_stage']['cores'][0]['land_success'],\
            all_launches[i]['launch_success']

    launch_summary.append(data)
    i += 1

df = DataFrame(data = launch_summary, columns =["Flight Number",\
                                                "Mission Name",\
                                                "Rocket Name",\
                                                "Engine",\
                                                "Launch Year",\
                                                "Payload",\
                                                "Orbit",\
                                                "Landing Success",\
                                                "Mission Success"])
df

,Flight Number,Mission Name,Rocket Name,Engine,Launch Year,Payload,Orbit,Landing Success,Mission Success
0,1,FalconSat,Falcon 1,Merlin A,2006,Satellite,LEO,None,False
1,2,DemoSat,Falcon 1,Merlin A,2007,Satellite,LEO,None,False
2,3,Trailblazer,Falcon 1,Merlin C,2008,Satellite,LEO,None,False
3,4,RatSat,Falcon 1,Merlin C,2008,Satellite,LEO,None,True
4,5,RazakSat,Falcon 1,Merlin C,2009,Satellite,LEO,None,True
...,...,...,...,...,...,...,...,...,...
106,107,Crew-1,Falcon 9,FT,2020,Crew Dragon,ISS,True,True
107,108,Sentinel-6 Michael Freilich,Falcon 9,FT,2020,Satellite,PO,True,True
108,109,Starlink-15 (v1.0),Falcon 9,FT,2020,Satellite,VLEO,True,True
109,110,CRS-21,Falcon 9,FT,2020,Dragon 2.0,ISS,None,None
110,110,SXM-7,Falcon 9,FT,2020,Satellite,GTO,None,None

In [28]:
df.to_csv('spacex_data.csv')
df

,Flight Number,Mission Name,Rocket Name,Engine,Launch Year,Payload,Orbit,Landing Success,Mission Success
0,1,FalconSat,Falcon 1,Merlin A,2006,Satellite,LEO,None,False
1,2,DemoSat,Falcon 1,Merlin A,2007,Satellite,LEO,None,False
2,3,Trailblazer,Falcon 1,Merlin C,2008,Satellite,LEO,None,False
3,4,RatSat,Falcon 1,Merlin C,2008,Satellite,LEO,None,True
4,5,RazakSat,Falcon 1,Merlin C,2009,Satellite,LEO,None,True
...,...,...,...,...,...,...,...,...,...
106,107,Crew-1,Falcon 9,FT,2020,Crew Dragon,ISS,True,True
107,108,Sentinel-6 Michael Freilich,Falcon 9,FT,2020,Satellite,PO,True,True
108,109,Starlink-15 (v1.0),Falcon 9,FT,2020,Satellite,VLEO,True,True
109,110,CRS-21,Falcon 9,FT,2020,Dragon 2.0,ISS,None,None
110,110,SXM-7,Falcon 9,FT,2020,Satellite,GTO,None,None

In [29]:
df.to_csv('spacex_data.csv', index=False)
df

,Flight Number,Mission Name,Rocket Name,Engine,Launch Year,Payload,Orbit,Landing Success,Mission Success
0,1,FalconSat,Falcon 1,Merlin A,2006,Satellite,LEO,None,False
1,2,DemoSat,Falcon 1,Merlin A,2007,Satellite,LEO,None,False
2,3,Trailblazer,Falcon 1,Merlin C,2008,Satellite,LEO,None,False
3,4,RatSat,Falcon 1,Merlin C,2008,Satellite,LEO,None,True
4,5,RazakSat,Falcon 1,Merlin C,2009,Satellite,LEO,None,True
...,...,...,...,...,...,...,...,...,...
106,107,Crew-1,Falcon 9,FT,2020,Crew Dragon,ISS,True,True
107,108,Sentinel-6 Michael Freilich,Falcon 9,FT,2020,Satellite,PO,True,True
108,109,Starlink-15 (v1.0),Falcon 9,FT,2020,Satellite,VLEO,True,True
109,110,CRS-21,Falcon 9,FT,2020,Dragon 2.0,ISS,None,None
110,110,SXM-7,Falcon 9,FT,2020,Satellite,GTO,None,None

In [30]:
#Feature 2: Read data from an external file, such as text, JSON, CSV, etc and use that data in your application.
df = pd.read_csv('spacex_data.csv')