In [1]:
import requests
import pandas as pd
from pandas import DataFrame

In [2]:
#Feature 1: Connect to an external/3rd party API and read data into your app
ds = requests.get('https://api.spacexdata.com/v3/launches')
all_launches = ds.json()

In [8]:
#make api data readable
launch_summary = []

i = 0 
for launch in all_launches:
    data =  flight_number, mission_name, rocket_name= all_launches[i]['flight_number'],\
    all_launches[i]['mission_name'],\
    all_launches[i]['rocket']['rocket_name']
    launch_summary.append(data)
    i += 1

df = DataFrame(data = launch_summary, columns =["Flight Number",\
                                                "Mission Name",\
                                                "Rocket Name"])
df

     Flight Number                 Mission Name Rocket Name
0                1                    FalconSat    Falcon 1
1                2                      DemoSat    Falcon 1
2                3                  Trailblazer    Falcon 1
3                4                       RatSat    Falcon 1
4                5                     RazakSat    Falcon 1
..             ...                          ...         ...
106            107                       Crew-1    Falcon 9
107            108  Sentinel-6 Michael Freilich    Falcon 9
108            109           Starlink-15 (v1.0)    Falcon 9
109            110                       CRS-21    Falcon 9
110            110                        SXM-7    Falcon 9

[111 rows x 3 columns]