In [1]:
import requests
import pandas as pd
from pandas import DataFrame

In [2]:
#Feature 1: Connect to an external/3rd party API and read data into your app
ds = requests.get('https://api.spacexdata.com/v3/launches')
all_launches = ds.json()

In [3]:
#make api data readable
launch_summary = []

i = 0 
for launch in all_launches:
    data =  flight_number= all_launches[i]['flight_number']
    launch_summary.append(data)
    i += 1

df = DataFrame(data = launch_summary, columns =["Flight Number"])
df

     Flight Number
0                1
1                2
2                3
3                4
4                5
..             ...
106            107
107            108
108            109
109            110
110            110

[111 rows x 1 columns]