In [1]:
import requests
import pandas as pd
from pandas import DataFrame

In [2]:
#Feature 1: Connect to an external/3rd party API and read data into your app
ds = requests.get('https://api.spacexdata.com/v3/launches')
all_launches = ds.json()

In [19]:
#make api data readable
launch_summary = []

i = 0 
for launch in all_launches:
    data =  flight_number, mission_name, rocket_name, launch_year, Orbit= all_launches[i]['flight_number'],\
            all_launches[i]['mission_name'],\
            all_launches[i]['rocket']['rocket_name'],\
            all_launches[i]['launch_year'],\
            all_launches[i]['rocket']['second_stage']['payloads'][0]['orbit']

    launch_summary.append(data)
    i += 1

df = DataFrame(data = launch_summary, columns =["Flight Number",\
                                                "Mission Name",\
                                                "Rocket Name",\
                                                "Launch Year",\
                                                "Orbit"])
df

     Flight Number                 Mission Name Rocket Name Launch Year Orbit
0                1                    FalconSat    Falcon 1        2006   LEO
1                2                      DemoSat    Falcon 1        2007   LEO
2                3                  Trailblazer    Falcon 1        2008   LEO
3                4                       RatSat    Falcon 1        2008   LEO
4                5                     RazakSat    Falcon 1        2009   LEO
..             ...                          ...         ...         ...   ...
106            107                       Crew-1    Falcon 9        2020   ISS
107            108  Sentinel-6 Michael Freilich    Falcon 9        2020    PO
108            109           Starlink-15 (v1.0)    Falcon 9        2020  VLEO
109            110                       CRS-21    Falcon 9        2020   ISS
110            110                        SXM-7    Falcon 9        2020   GTO

[111 rows x 5 columns]